.Navbar ul {
    background-color: rgb(50, 133, 141);
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Navbar li{
    padding: 1rem 2rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}