* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.carousel {
  width: 500px;
  height: 300px;
  border: 3px solid lightcoral;
  overflow: hidden;
  margin: 2rem auto;
}

.carousel-inner {
  width: 100%;
  height: 100%;
  display: flex;
    flex-direction: row;
  /* justify-content: flex-start; */
  align-items: center;
  position: relative;
}

.carousel-item {
  all: unset;
  width: 100%;
  height: 100%;
  text-align: center;
  flex: 1 0 100%;
  color: white;
  transition: all 0.5s ease;
  position: absolute; 

  
}

.carousel-item:nth-child(1) {
  background-color: darkred;
  /* transform: translateX(0);  */

}
.carousel-item:nth-child(2) {
  background-color: darkblue;
  /* transform: translateX(100%);  */
}
.carousel-item:nth-child(3) {
  background-color: darkgreen;
  /* transform: translateX(200%);  */
}
.carousel-item:nth-child(4) {
  background-color: darkgoldenrod;
  /* transform: translateX(300%);  */
}
.carousel-item:nth-child(5) {
  background-color: darkolivegreen;
  /* transform: translateX(400%);  */
}
.carousel-item:nth-child(6) {
  background-color: rgb(49, 224, 58);
}
.carousel-item:nth-child(7) {
  background-color: rgb(19, 15, 223);
}
.carousel-item:nth-child(8) {
  background-color: rgb(65, 4, 59);
}

.active {
  transition: all 0.5s ease;
  /* transform: translateX(0) !important;  */
}