.Counter {
  margin: 5rem auto;
  width: fit-content ;
  
}

.counter-container {
  background-color: #1fb2aa;
  border: 2px solid black;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  width: max-content;
  padding: 2rem 5rem;

}

button{
    background-color: #768899;
    padding: 1rem 2rem;
    border: none;
    color: white;
    font-size: larger;
    border-radius: 1.2rem;
    margin: 0 1rem;
    cursor: pointer;
    
}


.min {
    color: blue;
}

.max{
    color: red;
}