* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Parallax:nth-of-type(2) > .parallax-img {
  background-image: url(../../project-1/public/images/img1.jpg);
}
.Parallax:nth-of-type(4) > .parallax-img {
  background-image: url(../../project-1/public/images/img3.jpg) !important;
  height: 50vh !important;
}

.parallax-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parallax-custom-title {
  margin-top: 3rem;
  color: black;
  font-size: 2.5rem !important;
  font-weight: lighter;
}

.parallax-custom-caption {
  color: black;
  font-size: large;
  line-height: 2rem;
  text-align: center;
  padding: 2rem;
  opacity: 0.6;
}

.parallax-custom .buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 1rem;
}

.Button:nth-child(1) :hover {
  border-color: #5a48cd !important;
  background-color: #5a48cd !important;
  color: white !important;
}

.image-res {
  max-width: 70%;
  margin: 3rem auto;
}

.projects {
  background-color: #0e1015;
  color: white;
  text-align: center;
  width: 100%;
}

.projects-title {
  padding-top: 4rem;
}

.projects-caption {
  padding: 1rem;
}

.imagePost-all {
  background-color: #0e1015;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
}

.parallax-custom2 {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../public/images/img4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 80%;
  height: 50vh;
}

.parallax-custom2 > .parallax-custom-title {
  margin-top: 3rem;
  color: white;
  font-size: 2rem !important;
  font-weight: lighter;
}

.parallax-custom2 > .parallax-custom-caption {
  color: white;
  font-size: large;
  line-height: 2rem;
  text-align: center;
  padding: 2rem;
  opacity: 0.6;
  max-width: 70%;
}
.person {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row-gap: 2rem;
}
.person .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 2rem;
  flex-wrap: wrap;
}

.person-name {
  align-self: center;
  color: white;
  font-size: large;
}

.person-img {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.person-prev,
.person-next {
  cursor: pointer;
  padding: 2rem;
}

.parallax2-container {
  position: relative;
  height: 50vh;
}

.parallax-custom2:first-child {
  display: flex;
}
